
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <img src="/kaiadmin/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                    <a href="/UILayout/_UILayout" class="collapsed" aria-expanded="false"><i class="fas fa-home"></i><p>Siteye Git</p></a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/AdminUser/Index" class="collapsed" aria-expanded="false"><i class="fas fa-user"></i><p>Kullanıcılar</p></a>
                </li>  

                <li class="nav-item">
                    <a href="/Admin/AdminSong/Index" class="collapsed" aria-expanded="false"><i class="fas fa-music"></i><p>Müzik Paneli</p></a>
                </li>          

                <li class="nav-item">
                    <a href="/Admin/AdminPackage/Index" class="collapsed" aria-expanded="false"><i class="fas fa-box"></i><p>Paket Paneli</p></a>
                </li>         

                <li class="nav-item">
                    <a href="/Admin/AdminContact/Index" class="collapsed" aria-expanded="false"><i class="fas fa-envelope"></i><p>İletişim Paneli</p></a>
                </li>        

                <li class="nav-item">
                    <a href="/Admin/AdminCountDown/Index" class="collapsed" aria-expanded="false"><i class="fas fa-hourglass-half"></i><p>Sayaç Paneli</p></a>
                </li>      

                <li class="nav-item">
                    <a href="/Admin/AdminDjInfo/Index" class="collapsed" aria-expanded="false"><i class="fas fa-music"></i><p>Dj Paneli</p></a>
                </li>     

                <li class="nav-item">
                    <a href="/Admin/AdminEvent/Index" class="collapsed" aria-expanded="false"><i class="fas fa-calendar-alt"></i><p>Etkinlik Paneli</p></a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/AdminBanner/Index" class="collapsed" aria-expanded="false"><i class="fas fa-image"></i><p>Banner Paneli</p></a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/AdminLogin/LogOut" class="collapsed" aria-expanded="false"><i class="fas fa-sign-out-alt"></i><p>Oturumu Kapat</p></a>
                </li>               

            </ul>
        </div>
    </div>
</div>
