@model List<ResultDjInfoListQueryResponse>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Dj Bilgisi</div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Alt Başlık</th>
                            <th scope="col">Başlık</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;

                            <tr>
                                <td> @count</td>
                                <td>@item.Name</td>
                                <td>@item.Description.Substring(0, item.Description.Substring(0, 100).LastIndexOf(" ")) ...</td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-danger" data-url="/Admin/AdminDjInfo/DeleteDjInfo/@item.DjInfoId">Sil</a>
                                    <a href="/Admin/AdminDjInfo/GetDjInfo/@item.DjInfoId" class="btn btn-warning">Güncelle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Admin/AdminDjInfo/CreateDjInfo" class="btn btn-secondary">
                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span>
                    Yeni Dj Bilgisi Ekle
                </a>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(document).on('click', '.btn-danger', function (e) {
        e.preventDefault(); // Sayfa yeniden yüklenmesin

        var deleteUrl = $(this).attr('data-url'); // Silme URL'sini al
        swal({
            title: "Emin misiniz?",
            text: "Bu işlemi geri alamazsın, eminsen sileyim!",
            icon: "warning",
            buttons: {
                cancel: {
                    visible: true,
                    text: "Hayır, iptal et!",
                    className: "btn btn-danger",
                },
                confirm: {
                    text: "Sil, sil!",
                    className: "btn btn-success",
                },
            },
        }).then((willDelete) => {
            if (willDelete) {
                // Silme işlemini onayladıysa, AJAX ile silme işlemi yapılır
                $.ajax({
                    url: deleteUrl,
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            swal("Başarılı!", "Veri başarıyla silindi.", "success")
                                .then(function () {
                                    // Sayfadan da öğeyi kaldır
                                    $(e.target).closest('tr').remove();  // Silinen satırı tablodan kaldır
                                });
                        } else {
                            swal("Hata!", response.message, "error");
                        }
                    },
                    error: function () {
                        swal("Hata!", "Bir hata oluştu. Lütfen tekrar deneyin.", "error");
                    }
                });
            } else {
                swal("İşlem iptal edildi!", {
                    icon: "info",
                    buttons: {
                        confirm: {
                            className: "btn btn-success",
                        },
                    },
                }).then(function () {
                    swal.hide();
                });
            }
        });
    });
</script>

