
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

    @await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body>
    <!-- Page Preloder -->

    @await Component.InvokeAsync("_UILayoutPreLoaderComponentPartial")


    <!-- Header Section Begin -->
    @await Component.InvokeAsync("_UILayoutHeaderComponentPartial")
   
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    @await Component.InvokeAsync("_UILayoutBannerComponentPartial")
    
    <!-- Hero Section End -->

    <!-- Event Section Begin -->
    @await Component.InvokeAsync("_UILayoutEventComponentPartial")
  
    <!-- Event Section End -->

    <!-- About Section Begin -->
    @await Component.InvokeAsync("_UILayoutAboutComponentPartial")

    <!-- About Section End -->


    <!-- Track Section Begin -->
    @await Component.InvokeAsync("_UILayoutSongComponentPartial")
    <!-- Track Section End -->

    <!-- Countdown Section Begin -->
    @await Component.InvokeAsync("_UILayoutCountDownComponentPartial")
    <!-- Countdown Section End -->

    <!-- Footer Section Begin -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    <!-- Footer Section End -->
    @await Component.InvokeAsync("_UILayoutScriptsComponentPartial")
</body>

</html>
