@model CreateBannerCommandRequest
@{
    ViewData["Title"] = "CreateBanner";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title d-flex justify-content-center">Yeni Banner Ekle</div>
			</div>
			<form method="post">
				<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-md-12 col-lg-8">
							<div class="form-group">
								<label>Alt Başlık</label>
								<input type="text" class="form-control" asp-for="SubTitle" />
								<span asp-validation-for="SubTitle" class="text-danger"></span>
							</div>
							<div class="form-group form-inline">
								<label class="col-md-3 col-form-label">Başlık</label>
								<div class="col-md-9 p-0">
									<input type="text" class="form-control input-full" asp-for="Title" />
									<span asp-validation-for="Title" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label>Açıklama</label>
								<textarea class="form-control" asp-for="Description" rows="3"> </textarea>
								<span asp-validation-for="Description" class="text-danger"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="card-action d-flex justify-content-center">
					<button type="submit" class="btn btn-success">Kaydet</button>
					<a href="/Admin/AdminBanner/Index" class="btn btn-danger">Vazgeç</a>
				</div>
			</form>
		</div>
	</div>
</div>
